<p>Name: <input type="string" name="name" value="{% if product %}{{product.name}}{% endif %}" /></p>
<p>Price: <input type="number" name="price" value="{% if product %}{{product.price}}{% endif %}" /></p>
<p>Description:<br/><textarea name="description">{% if product %}{{product.description}}{% endif %}</textarea></p>
<p>Stock: <input type="number" name="stock" value="{% if product %}{{product.stock}}{% endif %}" /></p>