{% extends '_template.htm.j2' %}
{% set title='login' %}
{% block content %}
    <h1>Login</h1>
    {% if message %}
        <p><strong>{{message}}</strong></p>
    {% endif %}
    <form action="/auth/login" method="post">
        <p>User: <input type="text" name="usr"/></p>
        <p>Password: <input type="password" name="psw"/></p>
        <p><input type="submit" value="login" />
    </form>
{% endblock %}