<h1> Email confirmation required for python website </h1>
<p> Please confirm your email address at the following link:</p>
<a href="{{request.host}}/auth/confirm-email/{{reset_password_token}}">{{request.host}}/auth/confirm-email/{{reset_password_token}}</a>