{% extends '_template.htm.j2' %}
{% set title='homepage' %}
{% set description='amazing homepage built in python jinja2!' %}
{# {% do navbar.update({'list visits': '/list-visits'}) %} #}

{% block content %}
	<div class="container">
	    <h1>Welcome to Website built in Flask</h1>
	    <h2>Hello, World! You are visitor number {{cache.counter}}!</h2>
	    <form method="POST" action="/clear-counter"><input type="submit" value="clear counter"/></form>

	    <hr/>
	    <h2>Top articles!</h2>
	    <ul>
	    	{% for article in articles %}
	    		<li><a href="/blog/{{article.slug}}">{{article.title}}</a></li>
	    	{% endfor %}
	    </ul>
	</div>
{% endblock %}