{% extends '_template.htm.j2' %}
{% set title='list visits' %}
{% set description='amazing page to list visits!' %}

{% block content %}
	<div class="container">
		<p>Total Number of visits is {{ cache.counter }}:</p>
		<ul>
			{% for visit in range(0, cache.counter) %}
				<li>{{ visit }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}