<header>
	<a id="logo" href="/">Python Website</a>
	<nav>
		{% if navbar %}
            {% for text, href in navbar.items() %}
    			<a href="{{href}}">{{text}}</a>
    		{% endfor %}
        {% endif %}
	</nav>
</header>