<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta type="description" content="{{description}}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
    	header {
    		padding: 8px;
    		border-bottom: 1px solid #ccc;
    	}
    	footer {
    		padding: 8px;
    		border-top: 1px solid #ccc;
    	}
    	.container {
    		padding: 16px;
    	}
    	nav {
    		float: right;
    	}
        .small {
            font-size: 75%;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
	{% include "_header.htm.j2" %}
    {% block content %}{% endblock %}
    {% include "_footer.htm.j2" %}
    <script type="text/javascript">{% block scripts %}{% endblock %}</script>
</body>
</html>