{% extends '_template.htm.j2' %}
{% set title='signup' %}
{% block content %}
    <h1> Confirm email </h1>
    <p> We just sent a confirmation email to {{email}}. If you do not find it within 5 minutes, please check it in your spam folder.</p>
    <p> Once you confirmed your email, you will be able to login </p>
{% endblock %}