{% extends '_template.htm.j2' %}
{% set title='login' %}
{% block content %}
    <h1>Login</h1>
    {% if message %}
        <p><strong>{{message}}</strong></p>
    {% endif %}
    <form action="/auth/login" method="post">
        <p>Email: <input type="text" name="email" value="{{email}}"/></p>
        <p>Password: <input type="password" name="password"/></p>
        <p><input type="submit" value="login" /></p>
    </form>
{% endblock %}