{% extends '_template.htm.j2' %}
{% set title='signup' %}
{% block content %}
    <h1>Signup</h1>
    {% if message %}
        <p><strong>{{message}}</strong></p>
    {% endif %}
    <form action="/auth/signup" method="post">
        <p>Email: <input type="text" value="{{email}}" name="email"/></p>
        <p>Password: <input type="password" name="password"/></p>
        <p>Confirm password: <input type="password" name="confirm_password"/></p>
        <p><input type="submit" value="signup" /></p>
    </form>
{% endblock %}