{% extends '_template.htm.j2' %}
{% set title='Admin' %}
{% block head %}
    <style type="text/css">
        td {
            border: 1px solid #555;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Admin</h1>
    <section>
        <h2>Products</h2>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>options</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td><a href="{{url_for('admin.product_edit', product_id=product.id)}}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{url_for('admin.product_create')}}">Add product</a>
    </section>
{% endblock %}