{% extends '_template.htm.j2' %}
{% set title='Product edit' %}
{% block head %}
    <style type="text/css">
        td {
            border: 1px solid #555;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit product {{product.id}}</h1>
    <a href="{{url_for('admin.homepage')}}">Back</a>
    <form method="POST" action="{{url_for('admin.product_edit', product_id=product.id )}}">
        {% include 'admin/_product_fields.htm.j2' %}
        <input type="submit" value="Edit">
    </form>
    <br/><br/>
    <form method="POST" action="{{url_for('admin.product_delete', product_id=product.id )}}" onsubmit="return confirm('Do you really want to delete the product?');">
        <input type="submit" value="Delete" />
    </form>
{% endblock %}