{% extends '_template.htm.j2' %}
{% set title='Product edit' %}
{% block head %}
    <style type="text/css">
        td {
            border: 1px solid #555;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Create product</h1>
    <form method="POST" action="{{url_for('admin.product_create' )}}">
        {% include 'admin/_product_fields.htm.j2' %}
        <input type="submit" value="Create">
    </form>
{% endblock %}