{% extends '_template.htm.j2' %}
{% set title=article.title %}
{% set description=article.description %}

{% block content %}
    <div class="container">
		<h1>{{article.title}}</h1>
        <p class="small">{{article.category_name}}</p>
		<div>{{article.html_content}}</div>
	</div>
{% endblock %}