{% extends '_template.htm.j2' %}
{% set title='homepage' %}
{% set description='amazing homepage built in python jinja2!' %}

{% block content %}
	<div class="container">
	    <h1>Welcome to Website built in Flask</h1>
	</div>
{% endblock %}