{% extends '_template.htm.j2' %}
{% set title='homepage' %}
{% set description='amazing products sold by python-website!' %}

{% block content %}
    <div class="container">
        <h1>Welcome to the shop of the Website built in Flask</h1>
        <h2>Buy our amazing products</h2>
        <ul>
            {% for product in products %}
                <li><strong>{{product.name}}</strong> ({{product.description}}): € {{product.price}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}